<%- include('./partials/head') %>

<!-- <div class="logo"></div>
<div class="logo-egg"></div> -->
<!-- <div class="background">
  <div class="round-gradient"></div>
  <div class="square-gradient"></div>
  <div class="diamond-gradient"></div>
</div> -->

      <div id="rondje" class="rondje">
            <p class="cursor-text"></p>
            <div class="line"></div>
        </div>

<div class="visitekaartje">
  <div class="cards-wrapper">
    <div class="business-cards">
      <div class="business-card">
        <img
          src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80"
        />
        <div class="card-content">
          <h2>Milan</h2>
          <div class="divider"></div>
          <p>Dit is geen lorem ipsum, maar ik hou van lorem ipsum dolor la lo leee</p>
          <div class="divider2"></div>
          <p class="just-right">winnen</p>

        </div>
      </div>
      <div class="business-card">
        
        <img
          src="https://images.unsplash.com/photo-1496293455970-f8581aae0e3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1713&q=80"
        />
        <div class="card-content">
          <h2>Luisteren</h2>
          <div class="divider"></div>
          <p>Dit is geen lorem ipsum, maar ik hou van lorem ipsum dolor la lo leee</p>
          <div class="divider2"></div>
          <p class="just-right">winnen</p>

        </div>
      </div>
      <div class="business-card">
        <img
          src="https://images.unsplash.com/photo-1662261896019-234a5a5040da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        />
        <div class="card-content">
          <h2>synths</h2>
          <div class="divider"></div>
          <p>Dit is geen lorem ipsum, maar ik hou van lorem ipsum dolor la lo leee</p>
          <div class="divider2"></div>
          <p class="just-right">winnen</p>
        </div>
      </div>
      <div class="business-card">
        <img
          src="https://images.unsplash.com/photo-1607396528006-53f80c5fe616?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80"
        />
        <div class="card-content">
          <h2>Barista</h2>
          <div class="divider"></div>
          <p>Dit is geen lorem ipsum, maar ik hou van lorem ipsum dolor la lo leee.</p>
          <div class="divider2"></div>
          <p class="just-right">winnen</p>
        </div>
      </div>
      <div class="business-card">
        <img
          src="https://images.unsplash.com/photo-1513670144176-2211a82b531f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        />
        <div class="card-content">
          <h2>enjoy</h2>
          <div class="divider"></div>
          <p> <%=member.bio.html %></p>
          <div class="divider2"></div>
          <p class="just-right">winnen</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="animated-text">
  <h1>STUDIO <span class="rolie"> <%=member.surname %> </span></h1>
  <button class="see-more"></button>
  <button class="see-less"></button>
</section>

<section class="animated-card">
  <div class="card objects">
    <div id="objects" class="circle objects"></div>
    <div id="objects" class="pill objects"></div>
    <div id="objects" class="box objects"></div>
    <div id="objects" class="big-circle objects"></div>
    <div id="objects" class="rectangle objects"></div>
    <div id="objects" class="frame objects"></div>
  </div>
</section>

<div class="grain-overlay"></div>

<%- include('./partials/foot') %>
